body {
  font-family: sans-serif;
  //font-size: 1.5em;
}

.page-container {
  position: relative;
  min-height: 98vh;
}

header {
  display: flex;
  align-items: center;
  padding: 0 2% 0 2%;
}

button {
  //font-size: inherit;
}

.disabled {
  display: none;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0px 10px;
}

.header-pad {
  flex-grow: 1;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 0px 10px;
}

.band {
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: gray;
  border-width: 0.8px;
  background-color: lightgray;
  height: 100px;
  width: 100%;
  margin-bottom: -80px;
}

.translate-container {
  margin-left: 20%;
  width: auto;
  margin: auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
}

.type-menu {
  display: flex;
  gap: 0 10px;
  margin-bottom: 10px;
}

.type-menu button {
  padding: 10px;
}

.translate-menu {
  display: flex;
  background-color: white;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px 10px 0 0;
  gap: 0 5px;
}

.lang-options {
  display: flex;
  gap: 0 10px;
}

.lang {
  padding: 14px 10px 10px 10px ;
  width: 86px;
  display: none;
}

.lang.selected {
  display: block;
}

.lang-swap {
  display: flex;
  padding: 6px;
}

#dest-lang div.lang {
  position: relative;
  margin-left: -10px;
}

.swap-button {
  display: flex;
  align-content: center;
  border: none;
  border-radius: 50%;
  padding: 4px;
  margin-left: -10px;
}

.lang-options {
  flex-grow: 1;
  padding-left: 10px;
}

.translate-area {
  display: flex;
  margin-top: -1px;

  background-color: white;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 0 0 10px 10px;

  min-height: 180px;
}

.translate-box {
  flex: 1;
  display: flex;
  flex-grow: 1;
  padding: 20px;
}

.placeholder {
  color: gray;
}

.translate-box#dest-lang {
  border-left: 1px solid lightgray;
}

.dest-lang-output {
  padding-left: 8px;
}


.translate-box textarea {
  flex-grow: 1;
  resize: none;
  border: none;
}

#translate-button {
  width: 120px;
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
  align-self: flex-end;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  font-size: 0.8em;
}


.credits {
  display: flex;
  gap: 0 10px;
  justify-content: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
